{% extends "base.html" %}

{% block content %}
	
	<h1 class="page-header"> About the Tool </h1>
	
	<p class="text-justify">Colliding galaxies are astronomical events which can hide information about the evolution 
	of the universe. Although there are numerous methods and tools that can be used to detect these events, 
	they show themselves expensive when working with image processing and are often complex to implement and to use. 
	In order to facilitate the discovery of such events, this paper proposes the implementation of an algorithm 
	whose input data is a set of galaxies obtained from the Sloan Digital Sky Survey and returns a set of pairs of galaxies 
	that are likely to be in a process of collision. The tool was implemented using the Python programming language. 
	The results obtained from experiments show that the algorithm has good functionality, returning a favorable 
	percentage of galaxies that are in a process of interaction. Further work is proposed at the end of this paper, 
	in which we discuss the relevance of the results for posterior studies within the context of this research.</p>

{% endblock %}