{% extends "base.html" %}

{% load core_tags %}

{% block extra-header %}

	<script type="text/javascript" src="../static/js/d3.min.js"></script>
	<script type="text/javascript" src="../static/bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="../static/js/plotly-basic.js"></script>	
	
{% endblock %}

{% block content %}
	
	<h1 class="page-header"> Statistics </h1>
	
	{% if all_objects %}
	
		<div id="numbers" style="block">
			<table class="table">
				<thead>
					<tr>
						<th>Total of Pairs</th>
						<th>Total of Galaxies</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{'pairs'|total}}</td>
						<td>{{'galaxies'|total}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<br />
		
		<div id="container" style="block"></div>
			<script>
				var galaxies = {
				  x: {{all_objects.galaxies.ra_list}},
				  y: {{all_objects.galaxies.dec_list}},
				  mode: 'markers',
				  type: 'scatter',
				  name: 'Galaxy',
				  text: {{all_objects.galaxies.obj_id_list|safe}},
				  marker: { size: 3 }
				};

				var pairs = {
				  x: {{all_objects.pairs.ra_list}},
				  y: {{all_objects.pairs.dec_list}},
				  mode: 'markers',
				  type: 'scatter',
				  name: 'Pair',
				  text: {{all_objects.pairs.obj_id_list|safe}},
				  marker: { size: 3 }
				};

				var data = [ galaxies, pairs ];

				var layout = {
				  xaxis: {
					range: [ {{coord_values.ra.min}}, {{coord_values.ra.max}} ]
				  },
				  yaxis: {
					range: [{{coord_values.dec.min}}, {{coord_values.dec.max}}]
				  },
				  title:'Galaxies & Pairs'
				};

				Plotly.newPlot('container', data, layout);
			</script>	
			
		{% else %}
		
			<p>Database is empty.</p>
			
		{% endif %}
		
{% endblock %}

{% block extra-footer %}
	
	<!--script src="../static/js/jquery-1.7.1.min.js"></script-->	
	
{% endblock %}
